<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>Contactenos</title>
    </head>
    <body style="font-family: 'Roboto', sans-serif;">

        <h3 style="text-align: center;">Hola! Te han dejado un mensaje</h3>

        <ul style="list-style: none;">
            <li><strong>Estudiante: </strong> {{ nombre }} {{ apellido }}</li>
            <li><strong>Teléfono: </strong> {{ tel }} </li>
            <li><strong>Correo: </strong> {{ email }}</li>
            <br>
            <li><strong>Mensaje: </strong> {{ mensaje }}</li>
        </ul>
        <br>
        <h3 style="text-align: center;">Recuerde que este es un mensaje automático, favor no reenviar este correo, Gracias</h3>
        <br>
        <a href="http://www.trainingcc.org" style="text-align: center;">Servicio Trainingcc.org</a>
    </body>
</html>